button {
  margin-top: 20px;
  margin-right: 10px;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.8;
  }
}

.btn-verde {
  background-color: #28a745;
}

.btn-rojo {
  background-color: #dc3545;
}
